.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas{
    background-color: white;
    border-style: ridge;
    background-image: url(bday.gif);
    background-size: contain;
}

